*{
    margin: 0px;
    padding: 0px;
}

.bookmark-container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
}

.bookmark-results{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
}